<footer>


    <div class="footer">
       
           
            <div class="f-link">
                <a href="/detail">&copy; WanderLust Private Limited 路</a>&nbsp;
                <a href="/privacy">Privacy 路 </a>
                <a href="/terms">Terms 路 </a>
                <a href="/sitemap">Sitemap 路 </a>
                <a href="/details">Company Details</a>


            </div>
            <div class="social-handles">
                <div class="social">
                    <a href="/lang"><i class="fa-solid fa-globe"></i> English(IN)</a>&nbsp;&nbsp;
                    <a href="/ind"><i class="fa-solid fa-indian-rupee-sign"></i>INR</a>&nbsp;&nbsp;
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>&nbsp;&nbsp;
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>&nbsp;&nbsp;
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>&nbsp;&nbsp;
                </div>
            </div>
        
    </div>

</footer>
